aws_region          = "us-east-1"
environment         = "dev"
project_name        = "k8s-platform"
vpc_cidr            = "10.0.0.0/16"
cluster_version     = "1.29"
node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3
